{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": true,
                    "browsers": "> 0.25%, not dead"
                }
            }
        ]
    ],
    "plugins": ["@babel/plugin-transform-runtime"]
}
